@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/font/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/font/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/font/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
}

.app-phone-book {
  position: relative;
}
